/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --yellow-color: #e0b145;
  --main-transition: 0.1s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --primary: #1c2931;
  --secondary: #9cbbcc;
  --text-color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Header */
.header {
  background-color: var(--primary);

  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--yellow-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Satisfy', cursive;
  align-items: center;
  left: -120px;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

#logo {
  width: 100px;
  height: 100px;
}

.dropdown:hover>.dropdown-menu {
  display: block;

}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown,
.btn {
  color: white;
  padding: 5px;
  display: block;
  font-size: 15px;
  background: transparent;
}

.btn:hover {
  color: var(--yellow-color);
}

.dropdown-item {
  background-color: transparent;
}

/* End Header */
.landing {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100% !important;
  height: 900px;
}
.landing .discribtion {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--yellow-color);
  width: 100%;
  height: 100%;
}
.landing .discribtion::before {
  content: "";
  background: url(../images/lan6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -2;
  opacity: .75;

}
.landing h2 {
  font-weight: bold;
  margin: 2% auto;
  width: 60%;
}

.landing .btn {
  background: transparent;
  color: var(--primary);
  width: 20%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  border: 3px solid var(--primary);
}

.landing .btn:hover {
opacity: .8;
}

.landing .discribtion .text {
  margin-top: 30px;
  font-size: 15px;
  color: var(--primary);
}
.links {
  margin: 0px auto;
}

.fleets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-title {
  display: block;
  text-transform: uppercase;
  margin: 0 auto 50px;
  margin-top: 20px;
  border: 2px solid var(--primary);
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  color: white;
  position: relative;
  border-radius: 3px;
  background-color: var(--primary);
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: white;
}
.line {
  width: 50%;
  margin: auto auto;
  margin-bottom: 30px;
  height: 5px;
  background-color: var(--yellow-color);
  border-radius: 5px;
  display: block;
}
.fleet-description img {
  margin: 20px auto;
  width: 100%;
}
.fleet-description .text {
  padding-bottom: 10px;
  color: #4f5050;
  line-height: 1.7rem;
  font-size: 1.4rem;
  width: 100%;
}
i {
  color: var(--yellow-color);
  font-size: 20px;
  bottom: 100px;
  left: 100px;
  margin: 10px;
}
i:hover{
  opacity: .8;
}
.fleets .cards{
  display: flex;
  flex-wrap: wrap;
}
.fleets .cards .card {
  border: 3px solid #eee;
  min-width: 31% !important;
  margin-bottom: 10px;
  background-color: #eee;
  color: var(--primary);
  text-align: center;
  transition: .7s ease;
  opacity: .9;
}
.fleets .cards .card:hover{
  transform: scale(1.1);
  opacity: 1;

}
.fleets .cards .card img {
  min-height: 85%;
 
}
.btn4{
  padding: 5px;
  border-radius: 3px;
  border: 3px solid var(--main-color);
}
