:root{
    --primary:#1a1f35 ;
    --secondary:#337ab7;
   --body-color:#2e375f;
   --extra-color: #e0b145;
   --text-color: #bbbbbb;
   --gold-color: #e0b145;
   --text:#fefefe;
}
.logo-font{
    font-family: 'Satisfy', 'cursive';
    color: var(--gold-color);
}

i{
    color: var(--secondary);
}
a{
    text-decoration: none;
    color: var(--text);
}
a:hover{
    color: var(--gold-color);
}

ul{
    list-style: none;
    padding-left: 0px !important;
}

body{
    font-family: "Cairo", sans-serif;
    background-color: var(--body-color);
}

h1,h2,h3,h4,h5,h6,p{
    color:var(--text);
}
p, span{
    color:  var(--text-color);  
}
/* fleets */
@media (min-width: 992px){
    .fleet_content ul li span{
        font-size:.7rem !important;
    }
}

/* car */
.layer{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.layer i{
    cursor: pointer;
}
.car_big-img{
    position: relative;
    height: 50vh;

}
/* btn */
.btn-default.btn4 ,.btn-default.btn5 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans Condensed';
    font-size: 10px;
    line-height: 30px;
   
    text-transform: uppercase;
    letter-spacing: 0;
    background: #1c2931;
    position: relative;
    overflow: hidden;
}
.btn-default.btn5{
    padding: 5px  10px;
}
.btn-default.btn4{
    padding: 0 40px 0 20px;
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-default.btn4:after {
    content: "\f105";
    font-family: 'FontAwesome';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #fff;
    width: 30px;
    text-align: center;
}
.btn-default.btn4:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: #9cbbcc;
    position: absolute;
    right: -10px;
    top: 0;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.txt2 {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
    position: relative;
    padding-left: 15px;
}
 .txt2:before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: #1c2931;
    position: absolute;
    left: 3px;
    top: 0;
}
.fleet_list{
    margin-top: 10px;
    border-top: 1px solid #eeeeee;

}
/* right side */
.rigt_content h4{
    padding-top: 5px;
    position: relative;
}
.rigt_content h4::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #1c2931;
    position: absolute;
    top: 0;
}                                   
.page-section.dark {
  background-color: #14181c;
  color: #8e9091;
}
.page-section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;                       
}                  
.dark .section-title {
  color: #ffffff;  
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}                                   
/* ========================================================================== */
.page-section {
    background: url(./footer-bg.jpg) center top no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    /* small devices */
  }
  .page-section.md-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-section.sm-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-section.no-padding-top {
    padding-top: 0;
  }
  .page-section.no-padding-bottom {
    padding-bottom: 0;
  }
  .page-section.no-bottom-space {
    margin-bottom: -70px;
  }
  .page-section.light {
    background-color: #f4f6f7;
  }
  .page-section.dark {
    background-color: #14181c;
    color: #8e9091;
  }

  .page-section.contact {

    background: url(../img/preview/page-section-contact-2.jpg) center top no-repeat;

    background-size: cover;

  } 


  .page-section.dark {

    background-color: #14181c;

    color: #8e9091;

  }

                    
  .page-section.contact {
  
    background: url(../img/preview/page-section-contact-2.jpg) center top no-repeat;
  
    background-size: cover;
  
  } 
  
  .page-section {
  
    position: relative;
  
    padding-top: 70px;
  
    padding-bottom: 70px;
  
    overflow: hidden;
}

  
  .dark .section-title {
    color: #ffffff;
  } 
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  } 
 .page-section {
    background: url(./bright-A3QBD5ryKVilrl2Y\ \(1\).jpeg) center top no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    /* small devices */
   }
  .page-section.md-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-section.sm-padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-section.no-padding-top {
    padding-top: 0;
  }
  .page-section.no-padding-bottom {
    padding-bottom: 0;
  }
  .page-section.no-bottom-space {
    margin-bottom: -70px;
  }
  .page-section.light {
    background-color: #f4f6f7;
  }
  .page-section.dark {
    background-color: #14181c;
     color: #8e9091;} 
  .page-section.image {
    background: url(./pexels-aleksandar-pasaric-4512439.jpg) center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } 
  
  
  .page-section.of-visible {
    overflow: visible;
  }
  .page-section.sub-page {
    padding-top: 30px;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    height: auto;
  } 
  /* Contact form
/* ========================================================================== */
.page-section.contact {
    background: url(./bright-A3QBD5ryKVilrl2Y\ \(1\).jpeg) center top no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .page-section.contact:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .page-section.contact > .container {
    position: relative;
    z-index: 1;
  }
  .dark #contact-form .form-control {
    background: rgba(20, 24, 28, 0.8);
    border: 1px solid rgba(20, 24, 28, 0);
    color: #ffffff;
  }
  .dark #contact-form .form-control:focus {
    background: rgba(20, 24, 28, 0.5);
    border: 1px solid rgba(20, 24, 28, 0.5);
  }
  #contact-form textarea.form-control {
    height: 180px;
  }
  #contact-form .alert {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 15px;
    border-color: #e60000;
    background-color: #e60000;
    color: #ffffff;
  }
  #contact-form .tooltip {
    left: 15px !important;
  }
  #contact-form .tooltip-inner {
    border-radius: 0;
    padding: 10px 20px;
    background-color: #000000;
  }
  #contact-form .tooltip-arrow {
    border-top-color: #000000;
  }
  #contact-form .form-control {
    height: 40px;
  }
  #contact-form .has-icon .form-control {
    padding-right: 40px;
  }
  #contact-form .form-control-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  #contact-form .form-button-submit {
    max-width: none;
  }
  /* Contact info
  /* ========================================================================== */
  .contact-info .media .fa {
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
    margin-right: 15px;
    text-align: center;
    background-color: #d3d3d3;
    color: #ffffff;
  }
  .contact-info .media-list {
    margin-bottom: 30px;
  }
  .contact-info .media-body {
    line-height: 22px;
  }
  .contact-list .media .fa {
    min-width: 18px;
    text-align: center;
  }
  .contact-list .media-left {
    margin-right: 15px;
  }
  .contact-list .media-right {
    margin-left: 15px;
  }

  /* Contact info
/* ========================================================================== */
.contact-info .media .fa {
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 20px;
    margin-right: 15px;
    text-align: center;
    background-color: #d3d3d3;
    color: #ffffff;
  }
  .contact-info .media-list {
    margin-bottom: 30px;
  }
  .contact-info .media-body {
    line-height: 22px;
  }
  .contact-list .media .fa {
    min-width: 18px;
    text-align: center;
  }
  .contact-list .media-left {
    margin-right: 15px;
  }
  .contact-list .media-right {
    margin-left: 15px;
  }

  .form-button-submit.btn:hover{
    background-color: var(--secondary);
  }

  .form-button-submit.btn{
    background-color: rgba(20, 24, 28, 0.8);
  }
  .form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.form-group.has-icon {
    position: relative;
    margin-bottom: 1rem;
}
/* footer */

footer{
    background-color: var(--primary);
}

.footer_down{
background-color: var(--body-color);
}
.footer_down-list i{
    color: var(--text-color);
    transition: all .5s ease-in-out;
}
.footer_down-list i:hover{
  transform: scale(1);
  color: var(--extra-color);
}